.loginBody {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    flex-direction: column;
    text-align: center;
}

.loginButton {
    outline: none;
    border-radius: 10px;
    background: #4225aa;
    color: white;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    text-decoration: none;
}

.loginButton:hover {
    background: #4c2bc3;
}